<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <logger name="org.mongodb.driver" level="OFF" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%blue%-5level | [%date{dd/MM}] \(%date{HH:mm:ss, CET}\) %msg{nolookups}%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>